*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
docs/

composeApp/src/androidMain/kotlin/com/minhagrana/database/DebugSeed.local.kt

!composeApp/src/androidMain/kotlin/com/minhagrana/database/DebugSeed.local.kt
